.wrapper {
  border-collapse: collapse;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
}
