@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  > p {
    margin: 0;
  }
  h2 {
    margin: 0;
  }

  table {
    border-radius: 0 !important;
  }

  body thead,
  th {
    background-color: blue;
    color: #ffffff;
    padding: 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
  }

  body tbody td {
    padding: 12px 24px;
    font-size: 14px;
    text-align: center;
    border-bottom: 2px solid whitesmoke;
    background: rgb(245, 245, 245);
  }

  tbody td img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
  }
}
